.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.welcome-container {
  padding: 24px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.354)), url('/OIP.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 82vh;
}


.welcome-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.button-group button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: rgba(48, 132, 222, 0.747);
  color: black;
}

.footer {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
}
